/* styles.css */

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://zupimages.net/up/24/15/f6xz.jpg');
}

header {
    background-color: #07C4C4;
    padding: 10px;
    text-align: center;
}

.header-container img {
    max-width: 100px; /* Assure que l'image ne dépasse pas la largeur du conteneur */
    height: auto; /* Permet à l'image de conserver son ratio hauteur/largeur */
}

footer {
    background-color: #07C4C4;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 100%; /* Largeur maximale */
    /*position: fixed;
    bottom: 0;*/
}


nav {
    background-color: #FFEEB7;
    padding: 10px;
    margin: -10px 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.navbar-left {
    margin-right: 10px;
}

.navbar-center {
    /*flex-grow: 1; /* Permet à la barre de navigation centrale de prendre autant d'espace que possible */
    text-align: center; /* Centrer horizontalement le texte */
    margin: 0 auto;
}

.logo-text {
    font-family: 'Fjalla One', sans-serif; /* Utilisation de la police Fjalla One */
    text-transform: uppercase; /* Conversion en majuscules */
    color: #ffffff; /* Couleur du texte en blanc */
    -webkit-text-stroke: 1px #795548;
    text-shadow: 2px 2px 4px #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 40px;
    text-decoration: none; /* Enlève la décoration de lien */
}

.navbar-left,
.navbar-center,
.navbar-right {
    display: flex; /* Ajouter l'affichage flex pour aligner les éléments horizontalement */
    align-items: center; /* Aligner les éléments verticalement au centre */
}
.navbar-right {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.navbar-right img {
    margin-right: 40px; /* Ajoute une marge droite de 10px entre chaque icône */
}

.navbar-left,
.navbar-right {
    margin-right: 10px;
    list-style-type: none;
}

.navbar-left input[type="text"] {
    margin-right: 15px; /* Espacement entre le champ de recherche et l'icône */
}

.navbar-left .search-container {
    display: inline-flex; /* Affiche les éléments de manière linéaire */
    align-items: center;
}

.search-container {
    align-items: center;
    margin-right: 15px; /* Espacement entre le champ de recherche et l'icône */
}

.navbar-left img,
.navbar-right img {
   width: 35px; /* Définir la largeur de l'icône */
    height: 35px; /* Définir la hauteur de l'icône */
}

.navbar-center a {
margin: auto;
}
.menu-icon {
    margin-left: 35px;
    margin-right: 55px; /* Ajoute une marge de 10px à gauche et à droite */
}

/* Nouveau style pour le menu déroulant */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Afficher le menu déroulant lorsque survolé */
#profile-icon:hover + #profile-dropdown,
#profile-dropdown:hover {
    display: block;
}

#profile-icon:hover + #profile-dropdown {
    display: block;
}



main {
    padding: 20px;
}

.carousel {
    margin-bottom: 50px;
    margin-top: 30px;
}

.footer-text .footer-item {
    width: 100%; /* Étendre la largeur à 100% */
    text-align: center; /* Centrer le texte horizontalement */
    box-sizing: border-box; /* Inclure la taille de la bordure et du rembourrage dans la largeur */
}

.footer-text {
    font-family: 'Fjalla One', sans-serif; /* Police de caractères */
    font-size: 40px; /* Taille de la police */
    color: #ffffff; /* Couleur du texte (blanc) */
    text-shadow: 2px 2px 4px #000000; /* Ombrage léger */
    -webkit-text-stroke: 1px #795548; /* Contour du texte (pour les navigateurs WebKit) */
    margin-left: 46px; /* Marge à gauche pour décaler le texte */
}

.footer-item {
    width: 100%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 16px; /* Taille de la police ajustable selon vos besoins */
    color: #ffffff; /* Couleur du texte (blanc) */
    text-shadow: 1px 1px 2px #000000; /* Ombrage léger */
    margin-left: 10px; /* Marge à gauche pour l'espacement */
    padding-right: 25px;
    text-align: center;
}


.divCard{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.card-body {
    background-color: #FEF3C3;
}

.card-title {
    height: 46px;
}

.card a {
    margin-left: 70px;
    background-color: #07C4C4;
}

.divCard img {
    height: 300px;
    padding: 10px;
    background-color: #FEF3C3;
}
.divCard2 {
    display: flex;
    flex-direction: column; /* Afficher les cartes en colonne */
    /*align-items: flex-start; /* Aligner les cartes à gauche */
    margin-left: 25px; /* Marge à gauche pour l'ensemble des cartes */
    margin-top: 32px; /* Ajouter une marge en haut */
}

.card2 {
    /*width: 1000px; /* Largeur de 500 pixels */
    height: 800px; /* Hauteur de 300 pixels */
    background-color: #FEF3C3; /* Couleur de fond */
    padding: 50px; /* Ajoute un espace intérieur de 20 pixels */
   /*margin-bottom: 1000px;*/
}

.bag-icon img {
    border: 1px solid red;
}
.divCard3 h5 {
    color: #8B4513; /* Couleur de police du titre h5 */
}

.divCard3 img {
    width: 60px; /* Largeur de l'image */
    height: 60px; /* Hauteur de l'image */
    display: block; /* Permet de centrer l'image */
    margin: 0 auto; /* Aligne l'image au centre horizontalement */
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn2 {
    margin-right: 15px;
}
.divCard2 h5 {
    margin-top: 15px;
}

.carousel-inner img {
    padding: 40px
}

@media only screen and (max-width: 868px) {
    nav img {
        width: 30px;
        height: 30px;
    }
    .menu-icon {
        margin-left: 5px;
        margin-right: 5px;
    }
    .navbar-left input[type="text"] {
        margin-right: 5px; /* Espacement entre le champ de recherche et l'icône */
    }
    .navbar-right img {
        margin-right: 25px; /* Ajoute une marge droite de 10px entre chaque icône */
    }
    .search-container input {
        width: 20ch;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        /*flex-direction: column; /* Afficher les éléments de la navigation en colonne */
        align-items: center; /* Centrer les éléments horizontalement */
        margin: -10px 20px 0;
    }
    .navbar-center {
        display: none;
    }
    .navbar-left,
    .navbar-right {
        margin: 10px 0; /* Ajouter de l'espace entre les éléments */
    }
    .navbar-left img,
    .navbar-right img {
        width: 20px; /* Définir la largeur de l'icône */
        height: 20px; /* Définir la hauteur de l'icône */
    }
    .logo-text {
        font-size: 30px;
    }

    .search-container input {
        width: 15ch;
    }

    footer {
        flex-direction: column; /* Afficher les éléments du footer en colonne */
        align-items: center; /* Centrer les éléments horizontalement */
    }

    .footer-text {
        margin: 0;
    }

    @media only screen and (max-width: 280px) {

        nav {
            flex-direction: column;
            align-items: center;
            margin: -10px 20px 0;
        }
        .navbar-left,
        .navbar-center,
        .navbar-right {
            margin: 5px 0;
        }
        .navbar-left img,
        .navbar-right img {
            width: 10px;
            height: 10px;
        }
        .navbar-left input[type="text"] {
            width: 10ch;
            margin-right: 15px;
        }
        .logo-text {
            font-size: 20px;
        }
    }


}

