<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Assurez-vous d'avoir un fichier styles.css pour vos styles -->
</head>
<body>
<header>
    <div class="header-container">
        <img src="https://zupimages.net/up/24/15/zisc.png" alt="Logo">
    </div>
</header>

<nav>
    <div class="navbar-left">
        <a href="#" id="menu-icon"><img src="https://zupimages.net/up/24/17/rsd6.png" alt="Menu" class="menu-icon"></a>
        <!-- Menu déroulant pour le menu hamburger -->
        <div id="menu-dropdown" class="dropdown-content">
            <a href="/catalogue-cafes">Cafés</a>
            <a href="/catalogue-chocolats">Chocolats</a>
            <a href="/goodies">Goodies</a>
            <a href="/a-propos">A propos</a>
        </div>
        <div class="search-container">
            <input type="text" placeholder="Recherche...">
            <a href="#"><img src="https://zupimages.net/up/24/17/ypcq.png" alt="Recherche"></a>
        </div>
    </div>
    <div class="navbar-center">
        <a href="#" class="logo-text">JOVA</a>
    </div>
    <div class="navbar-right">
        <a href="#" id="profile-icon"><img src="https://zupimages.net/up/24/17/lle3.png" alt="Profil"></a>
        <!-- Menu déroulant pour l'icône du profil -->
        <div id="profile-dropdown" class="dropdown-content">
            <a href="/connexion">Connexion</a>
            <a href="/mon-compte">Mon compte</a>
            <a href="/creer-compte">Créer un compte</a>
            <a href="/administrateur">Administrateur</a>
        </div>
        <a href="#"><img src="https://zupimages.net/up/24/17/ko29.png" alt="Panier"></a>
        <a href="#"><img src="https://zupimages.net/up/24/17/cx7s.png" alt="Téléphone"></a>
    </div>
</nav>

<main>
    <!-- Contenu de la page -->
</main>

<footer>
    <a href="/index" class="footer-text">JOVA</a>
    <a href="/catalogue-cafes" class="footer-item">Cafés</a>
    <a href="/catalogue-chocolats" class="footer-item">Chocolats</a>
    <a href="/goodies" class="footer-item">Goodies</a>
    <a href="/a-propos" class="footer-item">A propos</a>
    <a href="/contact" class="footer-item">Nous contacter</a>
</footer>

</body>
</html>
