<header>
    <div class="header-container">
        <img src="https://zupimages.net/up/24/15/zisc.png" alt="Logo">
    </div>
</header>

<nav>
    <div class="navbar-left">
        <a href="#"><img src="https://zupimages.net/up/24/17/rsd6.png" alt="Menu" class="menu-icon"></a>
        <div id="menu-dropdown" class="dropdown-content">
            <a href="/cafes">Cafés</a>
            <a href="/chocolats">Chocolats</a>
            <a href="/goodies">Goodies</a>
            <a href="/a-propos">À Propos</a>
        </div>
        <div class="search-container">
            <input type="text" placeholder="Recherche...">
            <a href="#"><img src="https://zupimages.net/up/24/17/ypcq.png" alt="Recherche"></a>
        </div>
    </div>
    <div class="navbar-center">
        <a href="#" class="logo-text">JOVA</a>
    </div>
    <div class="navbar-right">
        <a href="/compte-client"><img src="https://zupimages.net/up/24/17/lle3.png" alt="Profil"></a>
        <a href="/panier"><img src="https://zupimages.net/up/24/17/ko29.png" alt="Panier"></a>
        <a href="/contact"><img src="https://zupimages.net/up/24/17/cx7s.png" alt="Téléphone"></a>
    </div>
</nav>