<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div>
    <!-- Inclure le fragment du header -->
    <div th:replace="~{fragments/header :: header}"></div>
</div>

<!-- Contenu spécifique de la page d'accueil -->
<div class="main-content">
    <!-- Ajoutez votre contenu principal ici -->
</div>
<div>
    <!-- Inclure le fragment du footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>
