<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Catalogue Cafés</title>
</head>
<body>
<div class="container-fluid">
    <!-- Inclure le fragment du header -->
    <th:block th:replace="fragments :: header"></th:block>


    <div class="main-content">

        <div class="divCard">
            <div class="card" th:each="produit : ${produits}">
                <div th:if="${produit.type == 'cafe'}">
                    <img th:src="${produit.image}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${produit.nom}">Nom du produit</h5>
                        <p class="card-text" th:text="${produit.prix}">Prix du produit</p>
                        <a href="#" class="btn btn-primary">Ajouter au Panier</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Inclure le fragment du footer -->
    <th:block th:replace="fragments :: footer"></th:block>

</div>

<script src="script.js"></script>
</body>
</html>