<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Assurez-vous d'avoir un fichier styles.css pour vos styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"> <!-- Assurez-vous d'avoir un fichier styles.css pour vos styles -->

</head>
<body>
<div>
    <!-- Inclure le fragment du header -->
    <div th:replace="~{fragments/header :: header}"></div>
</div>
<nav>
    <div class="navbar-left">
        <a href="#" id="menu-icon"><img src="https://zupimages.net/up/24/17/rsd6.png" alt="Menu" class="menu-icon"></a>
        <!-- Menu déroulant pour le menu hamburger -->
        <div id="menu-dropdown" class="dropdown-content">
            <a href="/catalogue-cafes">Cafés</a>
            <a href="/catalogue-chocolats">Chocolats</a>
            <a href="/goodies">Goodies</a>
            <a href="/a-propos">A propos</a>
            <a href="/deconnexion">Se déconnecter</a>
        </div>
        <div class="search-container">
            <input type="text" placeholder="Recherche...">
            <a href="#"><img src="https://zupimages.net/up/24/17/ypcq.png" alt="Recherche"></a>
        </div>
    </div>
    <div class="navbar-center">
        <a href="/" class="logo-text">JOVA</a>
    </div>
    <div class="navbar-right">
        <a href="#" id="profile-icon"><img src="https://zupimages.net/up/24/17/lle3.png" alt="Profil"></a>
        <!-- Menu déroulant pour l'icône du profil -->
        <div id="profile-dropdown" class="dropdown-content">
            <a href="/connexion">Connexion</a>
            <a href="/compte-client">Mon compte</a>
            <a href="/inscription">Créer un compte</a>
            <a href="/admin">Administrateur</a>
        </div>
        <a href="/panier" class="bag-icon"><img src="https://zupimages.net/up/24/17/ko29.png" alt="Panier"></a>
        <a href="/contact"><img src="https://zupimages.net/up/24/17/cx7s.png" alt="Téléphone"></a>
    </div>
</nav>
<div th:if="${message}" class="alert alert-success" role="alert">
    <p th:text="${message}"></p>
</div>

<div th:if="${message}" class="alert alert-danger" role="alert">
    <p th:text="${message}"></p>
</div>
<div class="connect-form">
    <h5>Connexion</h5>
    <form action="/connexion" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Nom d'utilisateur :</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe :</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="seSouvenirDeMoi">
            <label class="form-check-label" for="seSouvenirDeMoi">Se souvenir de moi</label>
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>

</div>

<div>
    <!-- Inclure le fragment du footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>

<script>
    // Récupère les éléments du formulaire
    const emailInput = document.getElementById('nomUtilisateur');
    const passwordInput = document.getElementById('motDePasse');
    const rememberMeCheckbox = document.getElementById('seSouvenirDeMoi');

    // Écoute les changements sur la case à cocher
    rememberMeCheckbox.addEventListener('change', function() {
        // Si la case est cochée, stocke les informations dans le stockage local
        if (this.checked) {
            localStorage.setItem('savedEmail', emailInput.value);
            localStorage.setItem('savedPassword', passwordInput.value);
        } else {
            // Sinon, supprime les informations du stockage local
            localStorage.removeItem('savedEmail');
            localStorage.removeItem('savedPassword');
        }
    });

    // Charge les informations sauvegardées lors du chargement de la page
    window.addEventListener('load', function() {
        // Vérifie si des informations sont stockées localement
        const savedEmail = localStorage.getItem('savedEmail');
        const savedPassword = localStorage.getItem('savedPassword');

        // Si des informations sont trouvées, remplissez les champs correspondants
        if (savedEmail && savedPassword) {
            emailInput.value = savedEmail;
            passwordInput.value = savedPassword;
            rememberMeCheckbox.checked = true;
        }
    });
    const searchInput = document.querySelector('#search-input');

    // Sélection de l'élément du bouton de recherche
    const searchButton = document.querySelector('#search-button');

    // Ajout d'un écouteur d'événements au clic sur le bouton de recherche
    searchButton.addEventListener('click', function () {
// Récupération de la valeur saisie dans le champ de recherche
        const searchQuery = searchInput.value.trim();

// Vérification si la valeur n'est pas vide
        if (searchQuery !== '') {
// Redirection vers la page de résultats de recherche avec la valeur de recherche comme paramètre de requête
            window.location.href = `/resultats?query=${encodeURIComponent(searchQuery)}`;
        }
    });


    // Récupérer le message à afficher du modèle Thymeleaf
    let message = "[[${message}]]";

    // Vérifier si le message n'est pas vide
    if (message.trim() !== "") {
// Afficher le message dans une fenêtre pop-up
        alert(message);
    }
</script>

</body>
</html>
