<!-- page_accueil.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="styles-mobile.css">
</head>
<body>
<div class="container-fluid">
    <!-- Inclure le fragment du header -->
    <th:block th:replace="fragments :: header"></th:block>


    <!-- Contenu spécifique de la page d'accueil -->
    <div class="main-content">
        <!-- Ajoutez votre contenu principal ici -->
    </div>

    <!-- Inclure le fragment du footer -->
    <th:block th:replace="fragments :: footer"></th:block>

</div>

<script src="script.js"></script>
</body>
</html>
