<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Assurez-vous d'avoir un fichier styles.css pour vos styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"> <!-- Assurez-vous d'avoir un fichier styles.css pour vos styles -->

</head>
<body>
<header>
    <div class="header-container">
        <img src="https://zupimages.net/up/24/15/zisc.png" alt="Logo">
    </div>
</header>

<nav>
    <div class="navbar-left">
        <a href="#" id="menu-icon"><img src="https://zupimages.net/up/24/17/rsd6.png" alt="Menu" class="menu-icon"></a>
        <!-- Menu déroulant pour le menu hamburger -->
        <div id="menu-dropdown" class="dropdown-content">
            <a href="/catalogue-cafes">Cafés</a>
            <a href="/catalogue-chocolats">Chocolats</a>
            <a href="/goodies">Goodies</a>
            <a href="/a-propos">A propos</a>
        </div>
        <div class="search-container">
            <input type="text" placeholder="Recherche...">
            <a href="#"><img src="https://zupimages.net/up/24/17/ypcq.png" alt="Recherche"></a>
        </div>
    </div>
    <div class="navbar-center">
        <a href="#" class="logo-text">JOVA</a>
    </div>
    <div class="navbar-right">
        <a href="#" id="profile-icon"><img src="https://zupimages.net/up/24/17/lle3.png" alt="Profil"></a>
        <!-- Menu déroulant pour l'icône du profil -->
        <div id="profile-dropdown" class="dropdown-content">
            <a href="/connexion">Connexion</a>
            <a href="/mon-compte">Mon compte</a>
            <a href="/creer-compte">Créer un compte</a>
            <a href="/administrateur">Administrateur</a>
        </div>
        <a href="#"><img src="https://zupimages.net/up/24/17/ko29.png" alt="Panier"></a>
        <a href="#"><img src="https://zupimages.net/up/24/17/cx7s.png" alt="Téléphone"></a>
    </div>
</nav>

<main>
    <div class="breadcrumb-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                <li class="breadcrumb-item"><a href="/panier">Panier</a></li>
                <li class="breadcrumb-item active" aria-current="page">Paiement</li>
            </ol>
        </nav>
    </div>

    <div class="container">


        <div class="divPaiement" style="display: flex; justify-content: center;">
            <div class="card" style="max-width: 540px; background-color: #FEF3C3; border-radius: 10px; padding: 20px;">
                <h5 style="text-align: center;">Votre adresse de livraison :</h5>
                <p>1 Rue de la Paix</p>
                <button style="margin-bottom: 15px; display: block; margin-left: auto; margin-right: auto;" class="btn btn-primary">Modifier</button>
                <h5 style="text-align: center;">Informations de paiement :</h5>
                <p>Numéro de carte : XXXX XXXX XXXX XXXX</p>
                <p>Date d'expiration : 05/24</p>
                <p>Cryptogramme : XXX</p>
                <form action="/payer" method="post" style="text-align: center;"> <!-- Formulaire pour déclencher le paiement -->
                    <button type="submit" class="btn btn-primary">Payer</button>
                </form>
            </div>
        </div>




    </div>

</main>

<footer class="fixed-footer">
    <a href="/index" class="footer-text">JOVA</a>
    <a href="/catalogue-cafes" class="footer-item">Cafés</a>
    <a href="/catalogue-chocolats" class="footer-item">Chocolats</a>
    <a href="/goodies" class="footer-item">Goodies</a>
    <a href="/a-propos" class="footer-item">A propos</a>
    <a href="/contact" class="footer-item">Nous contacter</a>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>